
@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "SpaceGrotesk-Regular";
    src: url("../fonts/SpaceGrotesk-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "SpaceGrotesk-Bold";
    src: url("../fonts/SpaceGrotesk-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Biro";
    src: url("../fonts/Biro_Script_reduced.ttf") format("truetype");
}

/* ─── brand helpers (reuse yours if already declared) ─── */
:root{
    --cream:#FFFAEA;
    --red:#BF3D38;
    --green:#205C42;
    --blue:#2C5597;
    --yellow:#F3B234;
    --headline:'Unbounded',sans-serif;
    --body:'SpaceGrotesk-Regular',sans-serif;
    --bodybold: 'SpaceGrotesk-Bold',sans-serif;
    --script:'Biro',cursive;
  }

a {
    color: inherit; /* Inherits the color from its parent element */
    text-decoration: none; /* Removes the underline */
}
